<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061427422567-j2h23qcdiabi0g16antqabn6mmf8qb51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061427422567-j2h23qcdiabi0g16antqabn6mmf8qb51</string>
	<key>API_KEY</key>
	<string>AIzaSyCDgHGs4_S69K-TDqTQI5Sj9XZ9TnuA4UE</string>
	<key>GCM_SENDER_ID</key>
	<string>1061427422567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toridoriClone.toridoriClone</string>
	<key>PROJECT_ID</key>
	<string>toridori-base</string>
	<key>STORAGE_BUCKET</key>
	<string>toridori-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061427422567:ios:fa7573694349350b2c7bc2</string>
</dict>
</plist>